/* variables */


:root
{
	--color-text-light-highlight:white;
	--color-border-highlight: #9B0A06;;
--color-border-highlight-alt: #9B0A06;    
    --stats-color : black; 
    --red-color : #9B0A06; 
    --blue-color :  #267bf1;
    --input-background-color : white;
	--color-text-light-7: white;
	
}

@font-face {
    font-family: lemon_regular;
    src: url('fonts/lemon-regular-webfont.woff2') format('woff2'),
         url('fonts/lemon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: reggaeone-regular;
    src: url('fonts/reggaeone-regular-webfont.woff2') format('woff2'),
         url('fonts/reggaeone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: acme-regular;
    src: url('fonts/acme-regular-webfont.woff2') format('woff2'),
         url('fonts/acme-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: poppins-regular;
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
a[href] {
    color: var(--red-color);
}
* {
scrollbar-color:black transparent;
scrollbar-width:thin
}
#logo {
background:none!important;
height:auto;
padding-right:10px;
width: 220px;
content:url("images/logo.webp");
}
#pause {
background:none;
font-family:reggaeone-regular;
font-size:30px;
top:60%
}

#pause > figcaption {
color:black;
position:relative;
text-shadow:1px 1px 2px #FFEA84, 0 0 1em var(--red-color), 0 0 0.2em var(--red-color);
}

#pause > img {
background:none!important;
content:url("images/pause.webp");
height:125px;
width:125px;
}

/* Main window style */
#controls ol.control-tools > li.active, #controls ol.control-tools > li:hover {
    box-shadow: 0 0 10px var(--red-color);
}
#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
   box-shadow: 0 0 10px var(--red-color);
}
#sidebar-tabs {
    --sidebar-tab-height: 32px;
    --sidebar-tab-width: 24px;
    flex: 0 0 var(--sidebar-tab-height);
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: 2px var(--red-color);
    box-shadow: 0 0 10px var(--red-color);
    font-size: 14px;
}
#sidebar-tabs > .item.active {
    color: white;
    border: 1px solid var(--red-color);
    border-bottom: none;
    box-shadow: 0 0 6px inset var(--red-color);
}
#ui-top.offset {
margin-left:5px
}


.vtt .window-app .dialog-buttons .dialog-button, .vtt .window-app .dialog-button{
      background: white;
	  color: black;
	  border: 5px double var(--red-color);
	  font-family: reggaeone-regular;
  }

.vtt .window-header {
    color: white;
    font-family: reggaeone-regular;
	background-color:  var(--red-color);
background-size: 2px 2px;
}
.chat-message .message-content {
  font-family: poppins-regular;
  line-height: 20px;
  }
.vtt #chat-log .cell__title {
color: var(--red-color);
font-family: reggaeone-regular;
}
.vtt #chat-log .message .item-icon {
background-color:transparent
}

.vtt #chat-log .message .failure {
color: white;
background-color:black;
border-radius:5px
}

.vtt #chat-log .message .partial {
color: white;
background-color:#521615;
border-radius:5px
}

.vtt #chat-log .message .success {
color: white;
background-color:var(--red-color);
border-radius:5px
}

.vtt #chat-log .message .result-details, .vtt #chat-log .message .result-choices {
position:relative;
top:-10px
}

.vtt #chat-log .message .result-label {
background: none;
border: none
}

.vtt #chat-log .message.whisper {
background:white
}
/*Buttons + et -*/
.vtt #chat-log .message .card-buttons button { 
    margin: 0 40px;  
    line-height: 3px;
}
.vtt #chat-log .message .card-buttons button[data-action="shiftUp"]{
visibility: hidden;
}

.vtt #chat-log .message .card-buttons button[data-action="shiftUp"]:before {
	content: "+";
	font-size: 15px;
	visibility:visible;
	background: black;
color : white;
    border: 1px solid black;
	padding: 1px 10px 5px;
	text-align: center;	
}
.vtt #chat-log .message .card-buttons button[data-action="shiftUp"]:hover::before {	
	box-shadow: 0px 0px 5px var(--red-color);
}
.vtt #chat-log .message .card-buttons button[data-action="shiftDown"]{
visibility: hidden;
}


.vtt #chat-log .message .card-buttons button[data-action="shiftDown"]:before {
	content: "-";
font-size: 15px;	
	visibility:visible;
	background: black;
color : white;
    border: 1px solid black;
	padding: 1px 10px 5px;
	text-align: center;		
}
.vtt #chat-log .message .card-buttons button[data-action="shiftDown"]:hover::before {	
	box-shadow: 0px 0px 5px var(--red-color);
}

.directory .directory-header .header-search input {
   
    background: white;
}
.pbta.actor.sheet
{	   background-color: white;
    font-family: acme-regular;

	}

.pbta.actor .window-content {
	background: none;
}
.pbta.actor.sheet label
{
    color : var(--text-color);
    border-color: var(--text-color);
}
.pbta.actor.sheet .cell
{
    border-color: white;
}

/* Text */
.pbta.actor.sheet .cell__title
{
    font-family: reggaeone-regular;
    border-color: var(--text-color);
	font-size: large;
}

.pbta.actor.sheet label
{
    font-family: acme-regular;
    border-color: var(--text-color);
	font-size: large;
}
.pbta.actor.sheet .stat .cell__title
{
    font-family: reggaeone-regular;
    font-weight: normal;

}
.pbta.sheet .sheet-attributes .cell--stats .stat .cell__title {
		color:black;
}
.pbta.sheet .sheet-attributes .cell--stats .stat .stat-toggle {
	color:black;
}
	.pbta.sheet .cell__checkboxes label.flexrow, .pbta.sheet .cell__radio label.flexrow {
    align-items: start;
}
/* Main Stats */
.pbta.actor.sheet section.sheet-attributes li.stat.flexrow
{
    
   opacity: 1;
background-color: white;
background-size: 2px 2px;
	border: 5px double  var(--red-color);
	    box-shadow: 0px 0px 1px 1px var(--red-color);
}
.pbta.actor.sheet section.sheet-attributes li.stat.flexrow:hover
{   
	border: 5px double  black;
	    box-shadow: 0px 0px 4px 4px black;
}		
.pbta.sheet .sheet-attributes .cell--stats .stat .stat-value, .pbta.sheet .sheet-attributes .cell--stats .stat .token-modif {
     color: black;
	}
	.pbta.sheet .sheet-attributes .cell--stats .stat .stat-value {
    background: white;
	}

/* Tabs */
.pbta.actor.sheet .tabs
{
    border-bottom: none;
}
.pbta.actor.sheet .tabs .item
{
    opacity: 1;
background-color:white;
color: black;
    font-family: reggaeone-regular;
	border: thick double var(--red-color);
	   box-shadow: 0px 0px 3px 3px black;
    border: none;
}
.pbta.actor.sheet .tabs .item:hover{
	color: var(--red-color);
	box-shadow: 0px 0px 5px 5px var(--red-color);
	}
.pbta.actor.sheet .tabs .item.active
{
    opacity: 1;
background-color: var(--red-color);
    font-family: reggaeone-regular;
	   box-shadow: 0px 0px 4px 4px var(--red-color);
    border: none;
	color: white;
}

/* Image */
.pbta.actor.sheet img
{
    border: 7px double black;
	box-shadow: 0px 0px 2px 2px black;
}
.profile-img {
object-fit:cover;
position:relative;
transition:transform .3s ease-in-out,z-index .3s;
width:200px;
z-index:3
}
.profile-img:hover {
transform:scale(3) translate(40px,35px);
z-index:10
}
/* Checkboxes and Radio */
.pbta.actor.sheet input[type="checkbox"]:checked, input[type="radio"]:checked 
{
    accent-color: black;
    -webkit-filter: grayscale(0%);
}

.pbta.sheet .cell--moves .item-icon,.pbta.sheet .cell--basic-moves .item-icon,.pbta.sheet .cell--starting-moves .item-icon,.pbta.sheet .cell--advanced-moves .item-icon,.pbta.sheet .cell--special-moves .item-icon,.pbta.sheet .cell--other-moves .item-icon,.pbta.sheet .cell--equipment .item-icon,.pbta.sheet .cell--spells .item-icon {
background-color:transparent
}

.pbta.sheet .cell--moves .item-showMove .showable,.pbta.sheet .cell--moves .item-avatar .showable,.pbta.sheet .cell--basic-moves .item-showMove .showable,.pbta.sheet .cell--basic-moves .item-avatar .showable,.pbta.sheet .cell--starting-moves .item-showMove .showable,.pbta.sheet .cell--starting-moves .item-avatar .showable,.pbta.sheet .cell--advanced-moves .item-showMove .showable,.pbta.sheet .cell--advanced-moves .item-avatar .showable,.pbta.sheet .cell--special-moves .item-showMove .showable,.pbta.sheet .cell--special-moves .item-avatar .showable,.pbta.sheet .cell--other-moves .item-showMove .showable,.pbta.sheet .cell--other-moves .item-avatar .showable,.pbta.sheet .cell--equipment .item-showMove .showable,.pbta.sheet .cell--equipment .item-avatar .showable,.pbta.sheet .cell--spells .item-showMove .showable,.pbta.sheet .cell--spells .item-avatar .showable {
background:none;
}

.pbta.sheet .cell--moves .item-label, .pbta.sheet .cell--basic-moves .item-label, .pbta.sheet .cell--starting-moves .item-label, .pbta.sheet .cell--advanced-moves .item-label, .pbta.sheet .cell--special-moves .item-label, .pbta.sheet .cell--other-moves .item-label, .pbta.sheet .cell--equipment .item-label, .pbta.sheet .cell--spells .item-label {
    border-left: 2px solid white;
    padding-left: 4px;
}

.pbta.sheet .cell--moves .item-description.expanded, .pbta.sheet .cell--basic-moves .item-description.expanded, .pbta.sheet .cell--starting-moves .item-description.expanded, .pbta.sheet .cell--advanced-moves .item-description.expanded, .pbta.sheet .cell--special-moves .item-description.expanded, .pbta.sheet .cell--other-moves .item-description.expanded, .pbta.sheet .cell--equipment .item-description.expanded, .pbta.sheet .cell--spells .item-description.expanded {
    display: block;
	font-family: poppins-regular;
	font-size: 13px;
	 line-height: 2em;
}
.pbta.sheet .item-name
{
    color: black;
}



.pbta.sheet .sheet-wrapper .editor-content {
    background : none;
    color: var(--text-color);
}
.pbta.actor.sheet label {
    font-family: reggaeone-regular;
    border-color: var(--text-color);
    font-size: large;
}
.pbta.actor.sheet .item.flexrow
{
    color: var(--text-color);
}

.pbta.sheet .cell--moves .item-description .result, .pbta.sheet .cell--basic-moves .item-description .result, .pbta.sheet .cell--starting-moves .item-description .result, .pbta.sheet .cell--advanced-moves .item-description .result, .pbta.sheet .cell--special-moves .item-description .result, .pbta.sheet .cell--other-moves .item-description .result, .pbta.sheet .cell--equipment .item-description .result, .pbta.sheet .cell--spells .item-description .result {
    border-top: 1px solid rgba(255, 255, 255, .05);
    padding-top: 6px;
}
.pbta.sheet .cell__checkboxes label.flexrow:has(.attr-list), .pbta.sheet .cell__radio label.flexrow:has(.attr-list) {
    flex-wrap: nowrap;
	font-family: acme-regular;
    border-color: var(--text-color);
    font-size: large;
}
.mce-content-body
{
    color: var(--text-color);
} 

.pbta.sheet label, .pbta.sheet h1, .pbta.sheet h2 {
    font-family: acme-regular;
    font-weight: normal;
	font-size: large;
}
.pbta.sheet .cell--moves .item-showMove .showable, .pbta.sheet .cell--moves .item-avatar .showable, .pbta.sheet .cell--basic-moves .item-showMove .showable, .pbta.sheet .cell--basic-moves .item-avatar .showable, .pbta.sheet .cell--starting-moves .item-showMove .showable, .pbta.sheet .cell--starting-moves .item-avatar .showable, .pbta.sheet .cell--advanced-moves .item-showMove .showable, .pbta.sheet .cell--advanced-moves .item-avatar .showable, .pbta.sheet .cell--special-moves .item-showMove .showable, .pbta.sheet .cell--special-moves .item-avatar .showable, .pbta.sheet .cell--other-moves .item-showMove .showable, .pbta.sheet .cell--other-moves .item-avatar .showable, .pbta.sheet .cell--equipment .item-showMove .showable, .pbta.sheet .cell--equipment .item-avatar .showable, .pbta.sheet .cell--spells .item-showMove .showable, .pbta.sheet .cell--spells .item-avatar .showable {

   width: 60%;
    height: 60%;
    color: var(--red-color);
    background: transparent;

}
/*/ journal /*/
.sheet.journal-entry .pages-list .directory-item:not(.active) + .active {
    border-top: 1px solid white;
}
.sheet.journal-entry .pages-list .page-heading {
    display: flex;
    align-items: center;
    margin: 0;
    border: none;
    font-size: var(--font-size-14);
	color:white;
}
.sheet.journal-entry .pages-list .directory-item {
    line-height: 32px;
    border-top: 1px solid #000000;
    border-bottom: 1px black;
    display: flex;
    flex-direction: column;
    position: relative;
	color:white;
	}
.sheet.journal-entry .journal-entry-content {
      background-color: white;
	background: white;
	border : 15px double var(--red-color);
    background-size: 100%;	 
	font-family: poppins-regular;
	font-size: 13px;
	line-height: 2em;
 }
 .sheet.journal-entry .journal-sidebar {
    
background-color:  var(--red-color) ;
	color : white;
	font-family: poppins-regular;
	font-size: 15px;

  }


/*/ Titres /*/
.journal-sheet h1, .editor-content h1 {
	font-family: lemon_regular;
	color: var(--red-color);
	text-align: center;	
	border-bottom: 2px solid white;
	font-size: 1.5em;
    padding-bottom: 1px;
}
.journal-sheet h2, .editor-content h2 {
	font-family: lemon_regular;
	color:var(--blue-color);
	border-bottom:none;
	font-size: 1.5em;
    padding-bottom: 10px;
    padding-left: 10px;
	margin-top: -10px !important;
}
.journal-sheet h3, .editor-content h3 {
	font-family: reggaeone-regular;
	color:black;
	border-bottom:none;
	font-size: 1.6em;
    padding-left: 6px;
    padding-bottom: 10px;
}

.journal-sheet h4:not(.window-title), .editor-content h4 {
	font-family: reggaeone-regular;
	color:black;
	border-bottom:none;
	font-size: 1.5em;
    padding-bottom: 10px;
}
.journal-sheet h5, .editor-content h5 {
	font-family: acme-regular;
	color:black;
	border-bottom:none;
	    padding-left: 11px;
    padding-bottom: 10px;
	font-size: 1.5em;
}
/*/ Lien et lien-titre /*/
.journal-sheet h3 a, .editor-content h3 a {
    text-decoration: dotted underline var(--blue-color) 4px;
    background: transparent;
	padding: 0px;
    border: none;
}
.journal-sheet h3 i::before, .editor-content h3 i::before{
    display:none;
}
.journal-sheet h3 i, .editor-content h3 i {
    color: black;
    margin-right: 0px !important;
}
.journal-sheet h4 a, .editor-content h4 a {
    text-decoration: dotted underline var(--blue-color) 4px;
    background: transparent;
	padding: 0px;
    border: none;
}
.journal-sheet h4 i::before, .editor-content h4 i::before{
    display:none;
}
.journal-sheet h4 i, .editor-content h4 i {
    color: black;
    margin-right: 0px !important;
}
a.content-link, a.inline-roll {
   text-decoration: dotted underline var(--red-color) 3px;
    background: transparent;
	padding: 0px;
    border: none;
}
.journal-sheet a.content-link i, .journal-sheet a.inline-roll i, .editor-content a.content-link i, .editor-content a.inline-roll i {
    color: black;
    margin-right: 0.25em;
	size: 5px;
	
	/*/ Séparateur /*/
.journal-sheet hr, .editor-content hr {
    text-align: center;
    height: 0px;
    border-image: linear-gradient(to right, transparent, black, transparent) 1;
    margin: 30px 10px;
    overflow: visible;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    border-width: 2px;
}
.journal-sheet hr::after, .editor-content hr::after {
    color: white;
    
}


/*/ Paragraphe /*/
.journal-entry-content{
color : white ;}
.journal-sheet p {
	color:black;
	font-family:facultyglyphic-regular;;
	font-size: 3em;
	text-align:justify;
	line-height: 1.15;
	
}
.editor-content p {
	color:black;
	font-family:facultyglyphic-regular;;
	font-size: 2em;
	text-align:justify;
	line-height: 1.15 !important;
	}

/*/ Liste (li) /*/
.journal-sheet ul {
	font-family:poppins-regular;
	font-size: 2em;
		text-align:justify;
	}
.editor-content ul {
	font-family:poppins-regular;
	font-size: 2em;
	text-align:justify;
	
}

.journal-sheet ul, .editor-content ul { list-style: none;} {
}
.journal-sheet li, .editor-content li { position: relative;} {
}
.journal-sheet li:not(li.heading.h2, li.heading.h3, li.heading.h4), .editor-content li {
	padding-left:20px;
}

.journal-sheet ul li li::marker, .editor-content ul li li::marker {
    position: absolute;
    left: -21px;
    top: 2px;
    vertical-align: middle;
    display: inline-block;
    content: '•';
}
/*/ Correction Prosemirror (li) /*/
.prosemirror menu li {
	padding-left:0px !important;
}
.prosemirror menu .pm-dropdown li {
	list-style: none !important;
	color:antiquewhite !important;
	font-family:none !important;
	font-size:none !important;
	text-align:none !important;
	margin-bottom:none !important;
	padding-left:none !important;
}
.prosemirror menu .pm-dropdown li::before {
	display:none;
	margin-bottom:none !important;
	padding-left:none !important;
}
.prosemirror menu .pm-dropdown ul li {
	margin-bottom:none !important;
	padding-left:none !important;
}

